<div class="row">
  <div class="col-md-12">
    <h1>Projects</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3>Wundergo</h3>
    <p>A client library for the Wunderlist API written in Golang.</p>
    <p><a href="https://github.com/robdimsdale/wundergo/">View the source on GitHub</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3>Angular-resume</h3>
    <p>Javascript application to assist with creation of a json-resume. Using Angular Schema Form.</p>
    <p><a href="https://github.com/robdimsdale/angular-resume/">View the source on GitHub</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3>Garagepi</h3>
    <p>A webserver written in golang to display the output of a Raspberry Pi camera module and trigger gpio.</p>
    <p>A typical use would be to display the interior of a garage and trigger the garage door and lighting via gpio.</p>
    <p><a href="https://github.com/robdimsdale/garagepi/">View the source on GitHub</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3>Rentchecker</h3>
    <p>Java command-line and android app to check rent owed at <a href="http://myequityapartments.com">myequityapartments.com</a></p>
    <p>Built with Spring Web MVC and Spring for Android, and uses Gradle as the build tool.</p>
    <p>It behaves like a browser, interacting with the website the same way a human would. Therefore it is likely to break if/when the website changes. It is only useful to those with accounts with Equity Apartments, as a valid log-in is required.</p>
    <p><a href="https://github.com/robdimsdale/rentchecker/">View the source on GitHub</a>.</p>
  </div>
</div>

<br/>
