{{ define "main" }}
<div class="row">
  <div class="col-xs-12">
    <h3>WL</h3>
    <p>Unofficial Wunderlist API client library and CLI, written in golang.</p>
    <p><a href="https://github.com/robdimsdale/wl/">View the source on GitHub</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Garagepi</h3>
    <p>A webserver written in golang to display the output of a Raspberry Pi camera module and trigger gpio.</p>
    <p>A typical use would be to display the interior of a garage and trigger the garage door and lighting via gpio.</p>
    <p><a href="https://github.com/robdimsdale/garagepi/">View the source on GitHub</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Rentchecker</h3>
    <p>Java command-line and android app to check rent owed at <a href="http://myequityapartments.com">myequityapartments.com</a></p>
    <p>Built with Spring Web MVC and Spring for Android, and uses Gradle as the build tool.</p>
    <p>It behaves like a browser, interacting with the website the same way a human would. Therefore it is likely to break if/when the website changes. It is only useful to those with accounts with Equity Apartments, as a valid log-in is required.</p>
    <p><a href="https://github.com/robdimsdale/rentchecker/">View the source on GitHub</a>.</p>
  </div>
</div>

<br/>
{{ end }}
