<div class="row">
  <div class="col-md-12">
    <h1>About me</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-9 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2">
    <p>I'm Rob Dimsdale-Zucker, an engineering manager and software developer
currently working for <a href="https://www.pivotal.io/">Pivotal</a> on the
<a href="https://www.pivotal.io/platform">Cloud Foundry</a> project.
Previously I have worked for <a href="https://www.oracle.com/index.html">Oracle</a> in the
<a href="https://www.oracle.com/storage/tape-storage/index.html">Tape Storage</a>
division and for <a href="https://www.softwire.com">Softwire</a>.</p>
    <p>My primary areas of focus to date have been web applications
(primarily Java and Go, some Ruby) and systems-administration,
though I'm interested in various languages and technologies from MATLAB
and Python all the way down to embedded C projects and audio circuitry hardware.</p>
    <p>For more details, see my <a href="/projects/">personal projects</a> or view my <a href="/resume/">resume</a></p>
  </div>
  <div class="hidden-xs col-sm-3 col-md-2">
    <img src="https://s.gravatar.com/avatar/43706e0956e6a52dc691978afa470d51?s=200" class="img-responsive" alt="Responsive image" />
  </div>
</div>

<br/>

<%= partial "buttons" %>
