{{ define "main" }}
<main>
  <div class="row">
    <div class="col-xs-12">
      <p><a href="robdimsdale-resume.pdf">PDF version</a> also available</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Employment</h3>
      {{ range .Data.Pages }}
      <div class="row">
        <div class="col-xs-12">
          <h4><span class="resume-employer">{{ .Title }},</span> {{ .Params.startDate }}&ndash;{{ .Params.endDate }}</h4>
          {{ range .Params.roles }}
          <div class="row resume-role">
            <div class="col-xs-12">
              <p>
                <span class="resume-role-title"> {{ .title }}</span>
                {{ if ne .startDate nil }}
                <span class="resume-role-date">({{ .startDate }}&ndash;{{ .endDate }})</span>.
                {{ end }}
                </p>
                {{ if ne .summary nil }}<p><span class="resume-role-summary">{{ .summary }}</span></p>{{ end }}
              <ul>
              {{ range .highlights }}
                <li>{{ . }}</li>
              {{ end }}
              </ul>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Education</h3>
      <div class="row">
        <div class="col-xs-12">
          <h4><span class="resume-employer">University of Cambridge,</span> Sep. 2007&ndash;Jul. 2011</h4>
          <p>MEng, Engineering: Information &amp; Electrical Sciences</p>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
