{{ define "main" }}
<div class="row">
  <div class="col-xs-12">
    <p><a href="/resume/robdimsdale-resume.pdf">PDF version</a> also available</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Employment</h3>
    <div class="row">
      <div class="col-xs-12">
        <h4><span class="resume-employer">Pivotal, Cloud Foundry,</span> Jun 2014 - Present</h4>

        <div class="row resume-role">
          <div class="col-xs-12">
            <p><span class="resume-role-title">Engineering Manager</span> <span class="resume-role-date">(Jan 2015 - Present)</span></p>
            <p><span class="resume-role-summary">Manager of 8-10 individuals, distributed across different teams (Matrix management).</span></p>
            <ul>
              <li>Providing advocacy and professional growth.</li>
            </ul>
          </div>
        </div>

        <div class="row resume-role">
          <div class="col-xs-12">
            <p><span class="resume-role-title">DevOps Software Engineer</span> <span class="resume-role-date">(Jun 2014 - Present)</span></p>
            <p><span class="resume-role-summary">Various teams, working primarily with Go, Ruby and Bash.</span></p>
            <ul>
              <li>Designed and implemented TCP Proxy in Go.</li>
              <li>Adding support for RiakCS.</li>
              <li>Extending MySQL&#x2F;MariaDB to incorporate high-availability.</li>
              <li>Migrating continuous integration from Jenkins to GoCD.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4><span class="resume-employer">Oracle, Tape Library Systems,</span> September 2012 - June 2014</h4>

        <div class="row resume-role">
          <div class="col-xs-12">
            <p><span class="resume-role-title">Server-side web developer and sysadmin.</span></p>
            <p><span class="resume-role-summary">Design and implementation of a new control system for tape libraries.</span></p>
            <ul>
              <li>Responsible for developing core behavior, architecting code, internal&#x2F;external API definition and implementation and hardware simulation.</li>
              <li>Devised and maintained development environment and build process, including continous integration.</li>
              <li>Role also included educating team members on language and framework features and agile practices.</li>
              <li>Technology stack consisted of Java EE, Oracle DB, TopLink and Weblogic.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4><span class="resume-employer">Softwire Technology Ltd,</span> September 2011 - September 2012</h4>

        <div class="row resume-role">
          <div class="col-xs-12">
            <p><span class="resume-role-title">Server-side web developer.</span></p>
            <p><span class="resume-role-summary">Design and implementation of bespoke web applications.</span></p>
            <ul>
              <li>Developed content management system and API for high profile BBC &#x2F;music&#x2F;events website using Spring, MySQL, Hibernate and Tomcat. Delivered ahead of schedule.</li>
              <li>Architected, developed and managed a web application to collect and display statistics on phone calls handled by in-house sales team, using Spring, MySQL, Hibernate, Tomcat and Javascript. Delivered on schedule.</li>
              <li>Enhanced major international retailer&#39;s online shop website, incorporating Spring, Microsoft SQL, Hibernate and Tomcat. Rapid comprehension of large existing codebase resulted in delivery significantly ahead of schedule.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4><span class="resume-employer">Inmarsat,</span> July 2010 - September 2010</h4>

        <div class="row resume-role">
          <div class="col-xs-12">
            <p><span class="resume-role-title">Application developer.</span></p>
            <ul>
              <li>Developed C++ application for performing offline analysis of satellite payload using FFTs to model satelite payload for 2010 Brazillian presidential election. Delivered on schedule, with 95%-accurate prediction for data usage profiles.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4><span class="resume-employer">Pace PLC,</span> July 2009 - September 2009</h4>
        <div class="row resume-role">

          <div class="col-xs-12">
            <p><span class="resume-role-title">Embedded developer.</span></p>
            <ul>
              <li>Converted MATLAB model of 802.11g data transmitter&#x2F;receiver to C as preparation for embedding into ARM processor, devising new implementations of proprietary algorithms provided by MATLAB libraries. Delivered ahead of schedule.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <h3>Education</h3>
    <div class="row">
      <div class="col-xs-12">
        <h4><span class="resume-employer">University of Cambridge, UK,</span> September 2007 - July 2011</h4>
        <p>MEng, Engineering: Information &amp; Electrical Sciences</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
