{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <p>I'm currently a Staff Engineer for
      <a href="https://tanzu.vmware.com/platform">Broadcom</a> on the Tanzu Build team.
    </p>

    <p>Previous roles have included individual contributor, manager, and director.</p>

    <p>Whatever my current title, and whatever problem domain I'm working on, at heart I'm simply an engineer who wants
      to build systems to improve the lives of those around me.</p>
  </div>

  <div class="hidden-xs col-sm-3">
    <img src="https://s.gravatar.com/avatar/43706e0956e6a52dc691978afa470d51?s=200" class="img-responsive"
      alt="Responsive image" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <p>Across all of my roles, I aim to: </p>
    <ul>
      <li>Lead by example with kindness, empathy, and humility</li>
      <li>Build systems and establish processes that significantly improve the experiences of colleagues and consumers
        alike</li>
      <li>Execute effectively on the goals of the team and the organization</li>
      <li>Provide technical leadership, mentorship, and guidance to my team members</li>

      <li>Generally do my best to
        <a href="http://firstround.com/review/give-away-your-legos-and-other-commandments-for-scaling-startups/">give
          away
          as many legos as possible</a>.
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-3">
          <div class="row text-center">
            <a href="http://github.com/robdimsdale"><span class="fa fa-github fa-4x"></span></a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="row text-center">
            <a href="http://bitbucket.org/robdimsdale"><span class="fa fa-bitbucket fa-4x"></span></a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="row text-center">
            <a href="http://www.linkedin.com/in/robdimsdale"><span class="fa fa-linkedin fa-4x"></span></a>
          </div>
        </div>

        <div class="col-xs-3">
          <div class="row text-center">
            <a href="http://twitter.com/robdimsdale"><span class="fa fa-twitter fa-4x"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}