{{ define "main" }}
<div class="row">
  <div class="col-xs-12 col-sm-9">
    <p>Engineering manager and software developer
currently working for <a href="https://www.pivotal.io/">Pivotal</a> on the
<a href="https://www.pivotal.io/platform">Cloud Foundry</a> project.
    </p>

    <p>In my role as an engineering manager, I manage a group of 8-10 individuals across
various teams, providing advocacy and career growth. As a software developer
on Cloud Foundry, I rotate between teams, working in both development and operations
and using various languages and frameworks.
    <p>
  </div>

  <div class="hidden-xs col-sm-3">
    <img src="https://s.gravatar.com/avatar/43706e0956e6a52dc691978afa470d51?s=200" class="img-responsive" alt="Responsive image" />
  </div>
</div>

<br/>

<div class="row">
  <div class="col-xs-3 col-xs-offset-0 col-sm-2 col-sm-offset-2 col-md-1 col-md-offset-4">
    <div class="row text-center">
      <a href="http://github.com/robdimsdale"><span class="fa fa-github fa-4x"></span></a>
    </div>
  </div>

  <div class="col-xs-3 col-sm-2 col-md-1">
    <div class="row text-center">
      <a href="http://bitbucket.org/robdimsdale"><span class="fa fa-bitbucket fa-4x"></span></a>
    </div>
  </div>

  <div class="col-xs-3 col-sm-2 col-md-1">
    <div class="row text-center">
      <a href="http://www.linkedin.com/in/robdimsdale"><span class="fa fa-linkedin fa-4x"></span></a>
    </div>
  </div>

  <div class="col-xs-3 col-sm-2 col-md-1">
    <div class="row text-center">
      <a href="http://twitter.com/robdimsdale"><span class="fa fa-twitter fa-4x"></span></a>
    </div>
  </div>
</div>
{{ end }}
