<div class="row">
  <div class="col-md-12">
    <h1>Resume</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
  <h3>HTML</h3>
  <p><a href="robdimsdale-resume.html">robdimsdale-resume.html</a></p>
  <p>Thanks to JaredCubilla for the <a href="https://github.com/JaredCubilla/jsonresume-theme-classy">Classy</a> theme.</p>
  <h3>PDF</h3>
  <p><a href="robdimsdale-resume.pdf">robdimsdale-resume.pdf</a></p>
  <h3>JSON</h3>
  <p><a href="robdimsdale-resume.json">robdimsdale-resume.json</a></p>
  <p>Meets the <a href="http://jsonresume.org/">JSON Resume</a> 0.0.0 specification.</p>
  </div>
</div>
